{
  "plugins": [
    "transform-class-properties",
    "syntax-dynamic-import", // transform `import()` to `require.ensure()`
    [
      "transform-runtime",
      {
        "helpers": true,
        "polyfill": false, // we polyfill needed features in src/normalize.js
        "regenerator": true
      }
    ],
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true // we polyfill Object.assign in src/normalize.js
      }
    ]
  ],
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "ie9": true
        },
        "uglify": true
      }
    ],
    "react"
  ]
}
